body {
    background-color:rgba(0, 0, 0, 0.74);
    margin: 0px
}
#calculator {
    border: 2px solid rgb(67, 20, 222);
    background-color: gray;
    text-align: center;
   
}
#result{
    border: 1px solid black;
}

table{
    text-align: center;
    border: 2px solid  rgb(213, 31, 31);
    padding: 5%;

}
#midC{
    padding-left: 50px;
    padding-right: 50px;
}
td{
    font-size:20px ;
    padding: 40px;
}

tr,td,th{
    text-align: center;
    border: 2px solid black;
}
    


